*.mp4 filter=lfs diff=lfs merge=lfs -text
documentation/Презентация/*.mp4 filter=lfs diff=lfs merge=lfs -text
documentation/Презентация/Мобильное[[:space:]]приложение[[:space:]]Kinosklad[[:space:]]—[[:space:]]Режим[[:space:]]презентации[[:space:]]-[[:space:]]Okular[[:space:]]2023-06-20[[:space:]]21-28-54.mp4 filter=lfs diff=lfs merge=lfs -text
